.black-bg {
    background-color: #000;
}

div > h1 {
    display: flex;
    justify-content: center;
}

.container > p {
    display: flex;
    justify-content: center;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 400px;
}

.container-fluid > div {
    min-width: 150px;
}

.item1 {
    flex-grow: 5;
    justify-content: center;
    align-items: center;
    background-color: #6ab56a;
    border: 2px solid black;
    border-radius: 25px 0px 0px 25px;
    display: flex;
    flex-direction: column;
    line-height: 5px;
}

.item2 {
    flex-grow: 1;
    background-color: #289bff;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    line-height: 5px;
}

.item3 {
    flex-grow: 3;
    border: 2px solid black;
    border-radius: 0px 25px 25px 0px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.bolder {
    font-weight: bold;
}

.item3 > p {
    flex-grow: 1;
    min-width: 100%;
    background-color: #ffe420;
}

.item3 > p:first-of-type {
    background-color: #fff7bd;
}

.pricing {
    display: flex;
    justify-content: space-between;
}

.card {
    justify-content: center;
    border-radius: 0px;
}

.card-title {
    background-color: #f7f7f7;
}
